body {
  box-sizing: border-box;
  background-color: #00090f;
  opacity: 0.9;
  background-image: linear-gradient(#ffffff 1.3px, transparent 1.3px),
    linear-gradient(to right, #ffffff 1.3px, #00090f 1.3px);
  background-size: 26px 26px;
  display: flex;
  justify-content: center;
}

.numbers-board-container {
  background-color: #527569;
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(20, 1fr); 
  grid-template-rows: repeat(5, 1fr); 
  border: 1px solid black;
}

.number {
  height: 50px;
  border: 1px solid black;
  
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  color: black;
}

.number:hover{
  background-color: #00090f;
  color: white;
  cursor: pointer;
}